.yaziStili {
font-style: italic;
}
.yaziBoyutu {
    font-size: 25px;
}

.yaziBoyutu2 {
    font-size: 25px;
    margin-left: 25px;
}
.card-group {
    display: flex;
}
.card-img-top{
  width: 90px;
  height: 500px;
}
.card-title{
    margin-left: 110px;
}
.card-title{
    font-size: 35px;
}
.card-text{
    font-size: 28px;
}
